*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 110px 200px 500px;

}
.container{
    background-color: aqua;
    padding: 1em;
}
.container:hover{
    border: 1px solid yellow;
}
